/* @media screen {
    body{
        background-color: #FAF7F0;
    }    
    div{
        border: 1px solid #FFD4B2;
    }
}

@media print {
    div{
        border: 1px solid #FFD4B2;
    }
} */
@import url(screen.css) screen;
@import url(print.css) print;