p{
    background-color: #D4E2D4;
    width: 300px;
}
p+div{
    border: 1px solid #DBC4F0;
    width: 300px;
    height: 100px;
}
a{
    display: inline-block;
    width: 200px;
    border: 1px solid silver;
    height: 200px;
    background-color: #FFE17B;
}
a:active{
    background-color: green;
    color: skyblue;
}
a:hover{
    background: white;
    color: magenta;
}
a:visited{
    background-color: yellow;
    color: darkcyan;
}