nav ul li a{
    display: inline-block;
    padding: 5px 10px;
    background-color: purple;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
section ul li{
    list-style-type: square;
}
section ol li{
    list-style-type: lower-roman;
}
 #area1{
    background-color: #769FCD;
 }  

 #area2{
    background-color: #D6E6F2;
 }
 .imgStyle{
    width: 300px;
    height: 150px;
 }